<div class="employee_index">
  <% if current_user.employee_info_manage_auth %>
    <p><%= link_to '新規追加', new_employee_path, class: 'btn btn-primary my-3' %></p>
  <% end %>

  <table class="table table-hover container-fluid">
    <thead>
      <tr>
        <th><%= employee_sort_order "number", "社員番号" %></th>
        <th class="name">氏名</th>
        <th class="department_th"><%= employee_sort_order "department_id", "所属" %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr class="employee">
          <% if employee.profiles.active.present? %>
            <% if employee == current_user %>
              <td><%= link_to format("%06d", employee.num), edit_employee_profile_path(employee, employee.profiles.active.first) %></td>
            <% else %>
              <td><%= link_to format("%06d", employee.num), employee_profile_path(employee, employee.profiles.active.first) %></td>
            <% end %>
          <% else %>
            <td><%= link_to format("%06d", employee.num), employee_profiles_path(employee) %></td>
          <% end %>
          <td class="name"><%= "#{employee.last_name} #{employee.first_name}" %></td>
          <td><%= employee.department.name %></td>
          <% if current_user.employee_info_manage_auth %>
            <td><%= link_to '編集', edit_employee_path(employee), class: 'btn btn-outline-secondary' %></td>
            <td><%= link_to '削除', employee, method: :delete,
              data: { confirm: "社員「#{employee.first_name} #{employee.last_name}」を削除します。よろしいですか？" }, class: 'btn btn-outline-danger' %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
      <%= paginate @employees, theme: 'bootstrap-5' %>
    </tbody>
  </table>
</div>
