<div class="article_index">
  <% if current_user.news_posting_auth %>
    <p class="new_article"><%= link_to '新規追加', new_article_path, class: 'btn btn-primary my-3' %></p>
  <% end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">タイトル</th>
        <th scope="col"><%= article_sort_order "created_at", "公開日" %></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @articles.each do |article| %>
          <tr class="article">
            <% if article.deleted_at.nil?%>
              <td><%= link_to article.title, article_path(article) %></td>
              <td><%= l article.created_at %></td>
              <% if article.employee_id == current_user.id %>
                <td class="btn_th"><%= link_to '編集', edit_article_path(article), class: 'btn btn-outline-secondary' %></td>
                <td class="btn_th"><%= link_to '削除', article, method: :delete,
                  data: { confirm: "記事「#{article.title}」を削除します。よろしいですか？" }, class: 'btn btn-outline-danger' %></td>
              <% else %>
                <td></td>
                <td></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tr>
      <%= paginate @articles, theme: 'bootstrap-5' %>
    </tbody>
  </table>

</div>
